@page "/login"
@layout MainLayout
<div class="row">
    <div class="col-sm">
        <LoginClassic></LoginClassic>
        <LoginExternal></LoginExternal>
    </div>
    <div class="col-sm">
        <Register></Register>
    </div>
</div>

