@inject IHttpApiClientRequestBuilderFactory Http;
@inject IUriHelper UriHelper;
<div class="pure-form">
    <fieldset>
        <legend>Use another service to log in.</legend>
        @foreach (var provider in loginProviders)
        {
            <form action="/api/account/externalLogin" method="post">
                <button type="submit"
                        class="pure-button pure-button-primary"
                        name="provider"
                        value="@provider.Name"
                        title="@("Log in using your "+provider.DisplayName+" account")">
                    @provider.Name
                </button>
            </form>
        }
    </fieldset>
</div>
@functions{
    IEnumerable<SigninProviderViewModel> loginProviders = new SigninProviderViewModel[0];
    protected override async Task OnInitAsync()
    {
        await Http.Create("/api/account/loginProviders")
            .OnOK<SigninProviderViewModel[]>((a) => loginProviders = a)
            .Get();

        StateHasChanged();
    }
}