@inject IHttpApiClientRequestBuilderFactory ClientFactory;
@inject IAccountService AccountService

<div class="form-inline">

    <div class="form-group">
        
       
        @foreach (var hashTag in _account.Hashtags ?? new List<string>())
        {
            <div class="input-group m-1">
                <NavLink href="@GetUrl(hashTag)" Match="NavLinkMatch.All" class="btn btn-secondary">
                    #@hashTag
                </NavLink>
            </div>
        }
        <div class="input-group m-1">
            <input type="text" class="form-control" bind="@newHashtag" placeholder="Add hashtag" aria-label="Add hashtag" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" onclick="@(async () => await AddHashtag())" type="button">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@functions{
    AccountViewModel _account = new AccountViewModel();
    string newHashtag;
    protected string GetUrl(string hashtag)
    {
        return "/tag/" + hashtag;

    }
    protected override async Task OnInitAsync()
    {

        _account = await AccountService.CurrentAccount();
        StateHasChanged();
    }
    protected async Task AddHashtag()
    {
        StateHasChanged();
        await ClientFactory.Create("/api/account/addHashTag")
            .OnOK(() =>
            {
                JsInterop.Toastr("success", "Hashtag added with success");
                _account.Hashtags.Add(newHashtag);
                newHashtag = null;
            })
            .OnBadRequest<Dictionary<string, List<string>>>(e => JsInterop.Toastr("error", string.Join(",", e["NewHashTag"])))
            .Post(new AddHashtagCommand(newHashtag));
        StateHasChanged();

    }
}

