<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>Home</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li>

                        <NavLink href="/account" Match="NavLinkMatch.Prefix">
                            <span class='glyphicon glyphicon-education'></span> Account
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="/counter" Match="NavLinkMatch.All">
                            <span class='glyphicon glyphicon-education'></span> Counter
                        </NavLink>
                    </li>
                    
                </ul>
            </div>
    </div>
</div>
