@if ((Errors?.ContainsKey(FieldName)).GetValueOrDefault(false))
{
    <span class="small form-text text-danger">@Errors[FieldName]</span>

}
@functions{
    [Parameter]
    string FieldName { get; set; }
    [Parameter]
    Dictionary<string, string> Errors { get; set; }
}
