@using Toss.Shared.Account
@page "/account/forgotPassword"
@inject IHttpApiClientRequestBuilderFactory ClientFactory;
@layout LoginLayout
<h2>You forgot your password</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-sm">
        <EditForm Model="command" OnValidSubmit="SendResetPasswordLink">
            <DataAnnotationsValidator />
            <ServerSideValidator ref="serverSideValidator" />
            <div class="form-group">
                <label for="Email">Email</label>
                <InputText Class="form-control" bind-Value="@command.Email" />
                <ValidationMessage For="@(() => command.Email)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>


@functions{
    ForgotPasswordCommand command = new ForgotPasswordCommand();
    ServerSideValidator serverSideValidator;
    async Task SendResetPasswordLink()
    {
        await ClientFactory.Create("/api/account/forgotPassword")
            .OnBadRequest<Dictionary<string,List<string>>>(errors => serverSideValidator.DisplayErrors(errors))
            .OnOK( "Please check your email to reset your password.","/login")
            .Post(command);
        StateHasChanged();
    }
}