@using Toss.Shared.Account
@page "/account/forgotPassword"
@inject IHttpApiClientRequestBuilderFactory ClientFactory;
@layout LoginLayout
<h2>You forgot your password</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-sm">
        <form method="post" >
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" bind="@model.Email" class="form-control" />
                <ValidationError Errors="@_errors" FieldName="Email" />
            </div>
            <button type="button" ref="resetButton" onclick="@SendResetPasswordLink" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


@functions{
    ForgotPasswordCommand model = new ForgotPasswordCommand();
    ElementRef resetButton;
    Dictionary<string,List<string>> _errors;
    async Task SendResetPasswordLink()
    {
        _errors = null;
        await ClientFactory.Create("/api/account/forgotPassword", resetButton)
            .OnBadRequest<Dictionary<string,List<string>>>(errors => _errors = errors)
            .OnOK( "Please check your email to reset your password.","/login")
            .Post(model);
        StateHasChanged();
    }
}