@page "/account/forgotPassword"
@inject HttpClient Http
@inject IUriHelper UriHelper
@layout LoginLayout
<h2>You forgot your password</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-sm">
        <form method="post" onsubmit="@(async () => await SendResetPasswordLink())">
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" bind="@model.Email" class="form-control" />
                <ValidationError Errors="@_errors" FieldName="Email" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


@functions{
    ForgotPasswordViewModel model = new ForgotPasswordViewModel();
    Dictionary<string, string> _errors;
    async Task SendResetPasswordLink()
    {

        await new HttpApiClientRequestBuilder(Http, "/api/account/forgotPassword", UriHelper)
            .OnBadRequest<Dictionary<string, string>>(errors => _errors = errors)
            .OnOK(() =>
            {
                JsInterop.Toastr("success", "Please check your email to reset your password.");
                UriHelper.NavigateTo("/login");
                _errors = null;
            })
            .Post(model);
        StateHasChanged();
    }
}

