@page "/login"
@layout LoginLayout
@inject HttpClient Http
<h1>Welcome to TOSS</h1>
<div class="row">
    <div class="col-sm">

       <LoginClassic></LoginClassic>

        <LoginExternal></LoginExternal>
    </div>
    <div class="col-sm">

        <CreateAccount></CreateAccount>
    </div>
</div>



