@inject IMessageService messageService;

@if (loading)
{
    <div class="loader"></div>

}
else
{
    <div class="no-loader"></div>
}
@foreach (var info in informations)
{
    <div class="message-success">
        @info
    </div>
}
@foreach (var error in errors)
{
    <div class="message-error">
        @error
    </div>
}
@functions{
    private List<string> informations = new List<string>();
    private List<string> errors = new List<string>();
    private bool loading = false;
    protected override void OnInitialized()
    {
        messageService.OnLoading += (o, l) =>
        {
            loading = l;
            StateHasChanged();
        };
        messageService.OnInfo += (o, s) =>
        {
            this.informations.Add(s);
            StateHasChanged();
            Task.Delay(TimeSpan.FromSeconds(5)).ContinueWith((t) =>
            {
                this.informations.Remove(s);
                StateHasChanged();
            });
        };
        messageService.OnError += (o, s) =>
        {
            this.errors.Add(s);
            StateHasChanged();
            Task.Delay(TimeSpan.FromSeconds(15)).ContinueWith((t) =>
            {
                this.errors.Remove(s);
                StateHasChanged();
            });
        };
        base.OnInitialized();
    }
}
