@implements IDisposable;
@inject IMessageService mesageService;

<button type="submit" id="@Id" class="@CssClass" disabled="@loading">
    
    @ChildContent
</button>
@functions{     
    private bool loading = false;
    [Parameter]

    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private string CssClass { get; set; }

    [Parameter]
    private string Id { get; set; }
    protected override void OnInit()
    {
        this.mesageService.OnLoading += DisableButton;
        base.OnInit();
    }
    public void DisableButton(object sender, bool loading)
    {
        this.loading = loading;
        this.StateHasChanged();
    }
    public void Dispose()
    {
        this.mesageService.OnLoading -= DisableButton;
    }
}
