@if ((Errors?.ContainsKey(FieldName)).GetValueOrDefault(false))
{
    <span class="small form-text text-danger">@GetError()</span>

}
@functions{
    [Parameter]
    string FieldName { get; set; }
    [Parameter]
    Dictionary<string,List<string>> Errors { get; set; }

    private string GetError()
    {
        return string.Join(", ",Errors[FieldName]);
    }
}
