@page "/ads"
@inject IHttpApiClientRequestBuilderFactory ClientFactory;
<h1>Ads</h1>
<input type="file" onchange="@UploadFile" id="fileUpload" ref="@fileInput" />
@functions{
    string pictureUrl;
    ElementRef fileInput;
    async Task UploadFile()
    {
        JsInterop.ConsoleLog("onchange");
        var data = await JsInterop.GetFileData("fileUpload");
        await ClientFactory.Create("/api/upload")
            .OnOK<FileUploadResult>(s =>
            {
                JsInterop.ConsoleLog("C# received " + s.TempFileName + " from server");
            })
            .Post(Convert.FromBase64String(data));
    }
}
