@inject IHttpApiClientRequestBuilderFactory httpBuilder
@if (connectedTags?.Hashtags != null)
{
    <div class="connected-tags  pure-menu-horizontal">
        @foreach (var hashTag in connectedTags.Hashtags)
        {
        <div class="pure-menu-item">
            <a class="pure-menu-link" href="@("/tag/"+hashTag)">
                #@hashTag
            </a>
        </div>
        }
    </div>
}
@functions{

    [Parameter]
    protected String Hashtag { get; set; }

    private ConnectedTags connectedTags;

    protected async override Task OnParametersSetAsync()
    {
        await httpBuilder.Create("/api/toss/connectedTags/" + Hashtag)
             .OnOK<ConnectedTags>(c =>
             {
                 this.connectedTags = c;
                 this.StateHasChanged();
             })
             .Get();
    }
}