@inject IHttpApiClientRequestBuilderFactory httpBuilder
@if (connectedTags?.Hashtags != null)
{
    <div class="connected-tags  ">
        @foreach (var hashTag in connectedTags.Hashtags)
        {

            <a class="link-button" href="@("/tag/"+hashTag)">
                #@hashTag
            </a>
        }
    </div>
}
@code{

    [Parameter]
    public String Hashtag { get; set; }

    private ConnectedTags connectedTags;

    protected async override Task OnParametersSetAsync()
    {
        await httpBuilder.Create($"/api/toss/connectedTags/{Hashtag}")
             .OnOK<ConnectedTags>(c =>
             {
                 this.connectedTags = c;
                 this.StateHasChanged();
             })
             .Get();
    }
}