@page "/"
@inject IHttpApiClientRequestBuilderFactory ClientFactory;
@inject IAccountService AccountService;
@inject IUriHelper uriHelper;
@layout MainLayout

<div class="pure-g tag-result">
    <div class="pure-u-2-5 no-content">
        Use the textbox below for searching content based on a hashtag.
    </div>
</div>
@functions{



    private AccountViewModel currentAccount;

    protected async override Task OnInitAsync()
    {
        currentAccount = await AccountService.CurrentAccount();

    }

}
