@page "/toss/{TossId}"
@inject IHttpApiClientRequestBuilderFactory httpBuilder
@inject IMarkdownService markdown
@inject IJsInterop JsInterop
@layout MainLayout
<div class="toss-detail">
    @if (tossDetail != null)
    {
        <div class=" toss-header">


            @tossDetail.UserName,
            @tossDetail.CreatedOn.ToString("f")
            @foreach (var hashTag in tossDetail.Hashtags ?? new List<string>())
            {

                <a class="link-button" href="@("/tag/"+hashTag)">
                    #@hashTag
                </a>
            }
        </div>
        <div class="toss-content">
            @markdown.ToHtml(tossDetail.Content)
        </div>

    }
</div>
@functions{
    [Parameter]
    protected string TossId { get; set; }
    private TossDetail tossDetail
    {
        get;
        set;
    }

    protected override async Task OnParametersSetAsync()
    {
        await httpBuilder.Create("/api/toss/detail/" + TossId)
              .OnOK<TossDetail>(r =>
             {
                 this.tossDetail = r;
                 StateHasChanged();
             })
              .Get();

    }

}
