@page "/user/{UserName}"
@inject IHttpApiClientRequestBuilderFactory ClientFactory;
@inject IMarkdownService markdown
@layout MainLayout
@if(UserView != null){
    <div class="pure-g user-view">
        <div class="pure-u-5-5">
            <h1>@(UserView.UserName)</h1>
        </div>
        <div class="pure-u-5-5 user-bio">
            <p>
                @markdown.ToHtml(UserView.Bio)
            </p>
        </div>
    </div>
}
@code {
    [Parameter]
    private string UserName { get; set; }

    private UserViewResult UserView { get; set; }

    protected async override Task OnInitAsync()
    {        
        await ClientFactory.Create("/api/account/view/"+UserName)
            .OnOK<UserViewResult>(u =>
            {
                UserView = u;
                StateHasChanged();
            })
            .Get();

    }
}