@inherits TossComponentBase
@if (Account != null && Account.Hashtags != null)
{
    @foreach (var hashTag in Account.Hashtags)
    {
        <li class="pure-menu-item">
            <NavLink href=@("/tag/"+hashTag) Match="NavLinkMatch.All" class="pure-menu-link  tag-link">
                #@hashTag
            </NavLink>
        </li>
    }
}
@code {
}
