<h3>Accounts</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created On</th>
            <th>User</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@functions {
List<AccountViewModel> USers = new List<AccountViewModel>();
}