@inject IAccountService AccountService
<h1>Your TOSS account</h1>
<div class="mb-2">
    <NavLink class="btn btn-primary" href="/account" Match="NavLinkMatch.All">
        Edit
    </NavLink>
    @if (_account != null && _account.HasPassword)
    {
        <NavLink class="btn btn-primary" href="/account/changePassword" Match="NavLinkMatch.All">
            Change Password
        </NavLink>
    }
</div>
@functions {
private AccountViewModel _account;
protected override async Task OnInitAsync()
{
    //forces call to get current account details so the user get redirected if not logged (TODO : make a batter abstraction)
    _account = await AccountService.CurrentAccount();
    StateHasChanged();
}
}