
<h1>Your TOSS account</h1>
<div class="mb-2">
    <NavLink class="btn btn-primary" href="/account" Match="NavLinkMatch.All">
        Edit
    </NavLink>

    <NavLink class="btn btn-primary" href="/account/changePassword" Match="NavLinkMatch.All">
        Change Password
    </NavLink>

</div>