.form-control.invalid {
    border-color: #dc3545;
}

.form-control.valid {
    border-color: #28a745;
}

.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

#TextAreaNewToss {
    height: 200px;
}
.toss .card {
    cursor: zoom-in
}
.toss .card-text {
    max-height: 200px;
    overflow-y: hidden;
}
body {
}
