@page "/login"
@layout LoginLayout
<h1><Trad key="Welcome" /></h1>
<div class="row">
    <div class="col-sm">
        <LoginClassic></LoginClassic>
        <LoginExternal></LoginExternal>
    </div>
    <div class="col-sm">
        <Register></Register>
    </div>
</div>

