@using Toss.Shared.Account
@page "/account/forgotPassword"
@inject IHttpApiClientRequestBuilderFactory Http;
@inject IMessageService messageService;
@layout MainLayout
<h1>You forgot your password</h1>
<div class="pure-form pure-form-stacked">
    <EditForm Model="command" OnValidSubmit="SendResetPasswordLink">
        <DataAnnotationsValidator />
        <ServerSideValidator @ref="serverSideValidator" />
        <label for="Email">Email</label>
        <MyInput Type="text" @bind-Value="@command.Email" />
        <ValidationMessage For="@(() => command.Email)" />
        <SubmitButton CssClass="pure-button pure-button-primary">Send password reset link</SubmitButton>
    </EditForm>
</div>


@code{
    ForgotPasswordCommand command = new ForgotPasswordCommand();
    ServerSideValidator serverSideValidator;
    async Task SendResetPasswordLink()
    {
        await Http.Create("/api/account/forgotPassword")
            .OnBadRequest<Dictionary<string, List<string>>>(errors => serverSideValidator.DisplayErrors(errors))
            .OnOK(() =>
            {
                messageService.Info("A link has been send to your email inbox for reseting yor password.");
                command = new ForgotPasswordCommand();
                StateHasChanged();
            })
            .Post(command);
    }
}